body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, #41e16e 0%, #e0ffff 100%);
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  margin: 5px;
}

.numbers {
  padding: 10px;
  list-style-type: none;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

.number {
  display: inline-block;
  margin: 10px;
  border: 1px solid gray;
  width: 25px;
  border-radius: 100%;
  padding: 5px;
  user-select: none;
  cursor: pointer;
}

.selected-number {
  background-color: lightgreen;
}

.board {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0.5, 0.5, 0.5, 0.5);
  max-width: 100%;
  overflow: hidden;
}

.buttons button {
  background-color: #1c6531;
  border: 2px solid #1c6531;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.salvo {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0.5, 0.5, 0.5, 0.5);
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.titulo {
  font-family: "Poppins", sans-serif;
}

.sombra {
  width: 200px;
  height: 200px;
  filter: drop-shadow(10px 10px 10px #222);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
